*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#07111f,#101827,#1d293d);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
padding:20px;
overflow:hidden;
}

.main{
width:100%;
max-width:420px;
}

.card{
background:rgba(255,255,255,.06);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.08);
padding:30px;
border-radius:24px;
box-shadow:0 15px 45px rgba(0,0,0,.45);
}

.logo{
font-size:28px;
font-weight:bold;
color:#8b5cf6;
margin-bottom:30px;
letter-spacing:1px;
text-align:center;
}

h1{
font-size:30px;
color:#fff;
margin-bottom:10px;
}

.sub{
color:#9ca3af;
line-height:24px;
margin-bottom:30px;
}

.number{
font-size:22px;
font-weight:bold;
color:#fff;
margin-bottom:30px;
}

.otpBoxes{
display:flex;
justify-content:space-between;
margin-bottom:25px;
}

.otpBoxes input{
width:50px;
height:65px;
border:none;
outline:none;
border-radius:14px;
background:#111827;
color:#fff;
font-size:28px;
text-align:center;
font-weight:bold;
box-shadow:0 0 10px rgba(139,92,246,.15);
transition:.3s;
}

.otpBoxes input.active{
transform:scale(1.08);
background:#8b5cf6;
}

.progress{
margin-bottom:25px;
}

.bar{
width:100%;
height:8px;
background:#1f2937;
border-radius:20px;
overflow:hidden;
}

#barFill{
width:100%;
height:100%;
background:#8b5cf6;
transition:1s linear;
}

.timer{
text-align:center;
color:#d1d5db;
font-size:16px;
margin-bottom:25px;
}

#count{
font-size:26px;
font-weight:bold;
color:#fff;
}

.status{
text-align:center;
color:#9ca3af;
font-size:17px;
font-weight:bold;
}
