*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#060b16;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
padding:20px;
}

.bgGlow{
position:fixed;
width:500px;
height:500px;
background:#8b5cf6;
filter:blur(180px);
opacity:.18;
border-radius:50%;
}

.card{
position:relative;
width:100%;
max-width:370px;
background:rgba(20,27,42,.95);
backdrop-filter:blur(20px);
border-radius:24px;
padding:28px;
border:1px solid rgba(255,255,255,.08);
box-shadow:0 20px 60px rgba(0,0,0,.45);
text-align:center;
z-index:10;
}

.logo{
font-size:22px;
font-weight:700;
letter-spacing:2px;
color:#8b5cf6;
margin-bottom:20px;
}

h1{
font-size:22px;
font-weight:700;
color:#fff;
margin-bottom:10px;
}

.sub{
font-size:14px;
line-height:22px;
color:#9ca3af;
margin-bottom:20px;
}

.mobile{
font-size:18px;
font-weight:600;
color:#fff;
margin-bottom:28px;
}

.otpArea{
display:flex;
justify-content:center;
gap:8px;
margin-bottom:25px;
}

.otpArea input{
width:42px;
height:54px;
background:#0d1525;
border:1px solid #303b52;
border-radius:12px;
color:#fff;
font-size:24px;
font-weight:bold;
text-align:center;
}

.line{
width:100%;
height:7px;
background:#202938;
border-radius:50px;
overflow:hidden;
margin-bottom:20px;
}

#progress{
width:100%;
height:100%;
background:linear-gradient(90deg,#8b5cf6,#6d28d9);
transition:1s linear;
}

.timer{
font-size:15px;
color:#cbd5e1;
margin-bottom:18px;
}

#time{
font-size:24px;
font-weight:bold;
color:#fff;
}

.status{
font-size:15px;
font-weight:600;
color:#cbd5e1;
margin-bottom:18px;
}

.footer{
font-size:13px;
color:#7c8798;
line-height:20px;
}
