*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#08111f;
color:#fff;
}

.topbar{
background:linear-gradient(90deg,#ff9800,#ff3d57);
padding:15px;
text-align:center;
font-weight:bold;
font-size:18px;
}

.container{
width:90%;
max-width:430px;
margin:25px auto;
}

h1{
text-align:center;
font-size:38px;
margin-bottom:5px;
}

.card{
background:#1b2335;
padding:22px;
border-radius:18px;
margin:20px 0;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.login{
background:#1b2335;
padding:20px;
border-radius:18px;
}

.login h2{
margin-bottom:15px;
text-align:center;
}

input{
width:100%;
padding:14px;
margin:10px 0;
background:#111827;
border:none;
border-radius:12px;
color:#fff;
font-size:16px;
}

.btn{
width:100%;
padding:15px;
margin-top:12px;
border:none;
border-radius:12px;
background:linear-gradient(90deg,#7b3ff2,#47d7ff);
color:#fff;
font-size:17px;
font-weight:bold;
cursor:pointer;
}

.btn:hover{
opacity:.95;
}

#msg{
margin-top:10px;
text-align:center;
color:#ff5757;
}
