*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050814;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:#fff;
}

.background{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}

.circle{
position:absolute;
border-radius:50%;
filter:blur(120px);
animation:float 8s ease-in-out infinite;
}

.c1{
width:300px;
height:300px;
background:#7c3aed;
top:-80px;
left:-80px;
}

.c2{
width:250px;
height:250px;
background:#2563eb;
bottom:-80px;
right:-80px;
animation-delay:2s;
}

.c3{
width:220px;
height:220px;
background:#06b6d4;
top:40%;
left:50%;
transform:translate(-50%,-50%);
animation-delay:4s;
}

@keyframes float{
0%{transform:translateY(0px);}
50%{transform:translateY(-25px);}
100%{transform:translateY(0px);}
}

.main{
position:relative;
width:90%;
max-width:420px;
padding:35px;
border-radius:28px;
background:rgba(255,255,255,.06);
backdrop-filter:blur(18px);
border:1px solid rgba(255,255,255,.08);
text-align:center;
box-shadow:0 20px 60px rgba(0,0,0,.5);
}

.shield{
width:110px;
height:110px;
margin:auto;
border-radius:50%;
background:linear-gradient(135deg,#22c55e,#16a34a);
display:flex;
justify-content:center;
align-items:center;
font-size:54px;
font-weight:bold;
box-shadow:0 0 35px rgba(34,197,94,.6);
animation:pulse 1.6s infinite;
}

@keyframes pulse{
0%{transform:scale(1);}
50%{transform:scale(1.08);}
100%{transform:scale(1);}
}

h1{
margin-top:25px;
font-size:30px;
}

p{
margin-top:10px;
color:#cbd5e1;
font-size:16px;
}

.progressBox{
margin-top:35px;
}

.progress{
width:100%;
height:10px;
background:#1f2937;
border-radius:30px;
overflow:hidden;
}

#fill{
width:0%;
height:100%;
background:linear-gradient(90deg,#8b5cf6,#3b82f6);
border-radius:30px;
transition:width .3s linear;
}

#status{
margin-top:20px;
font-size:15px;
color:#d1d5db;
font-weight:bold;
  }
